[submodule "dind/assets/bin"]
	path = dind/assets/bin
	url = https://github.com/pivotal-k8s/kubeadm-dind-cluster
[submodule "tools/contrib"]
	path = tools/contrib
	url = https://github.com/pivotal-k8s/kubernetes-contrib-tools.git
